<h1>{{title}}</h1>
<p>I ban, therefore I am.</p>
<a href="https://id.twitch.tv/oauth2/authorize?response_type=code&client_id={{clientId}}&redirect_uri={{serverUrl}}/auth/twitch/callback&scope=channel_subscriptions">Login with Twitch</a>

