<div class="container">
    <form class="form-signin text-center">
        <img class="mb-4" src="/images/admiralemote.png" alt="" width="72" height="72">
        <br>
        <a href="https://id.twitch.tv/oauth2/authorize?response_type=code&client_id={{clientId}}&redirect_uri={{serverUrl}}/auth/twitch/callback&scope=channel_subscriptions">
            <img src="http://ttv-api.s3.amazonaws.com/assets/connect_dark.png" class="twitch-connect"/>
        </a>
    </form>
</div>
